@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Zaloguj się lub Zarejestruj</h1>
    <div class="buttons">
    <button class="btn btn-primary" id="SignIn">Logowanie</button>
    <button class="btn btn-primary" id="SignUp" >Rejestracja</button>
    </div>

</div>
